<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>顧客一覧</title>
    <link rel="stylesheet" type="text/css"
        href="../../static/css/style.css"
        th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
<!-- 本体 -->
<h1>ほげげん</h1>
<!-- </body>の直前 -->
<script src="https://ajax.googleapis.com/ajax/lib/jquery/1.11.1/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>